body {
}
.container-login {
    background-image: url('../../assets/background-site.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    background-color: blue;
    height: 100vh;
    width: 100vw;
}
.login-form {
    background-color: #282a30;
    padding: 1.2rem 1.2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.6);
    width: 400px;
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.login-form input {
    display: block;
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.login-form input:focus {
    box-shadow: 0px 0px 5px 2px rgb(255, 165, 0);
}

.login-form button {
    background-color: red;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.login-form button:active {
    background-color: #ff6868;
}

@media (max-width: 430px) {
    .container-login {
        padding: 1rem;
    }
    .login-form {
        width: 90vw;
    }
    .login-form h1 {
        font-size: 1.5rem;
    }
    .login-form input {
        font-size: 1rem;
    }
}